/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require css/materialize.min
 *= require_self
 */

/*
.healthcare{ background: #EE6E73;}
.nasa{ background: #1A5DAD;}
.open-source{ background: #3DA639;}
*/

.healthcare{ background: #EE6E73;}
.nasa{ background: #1A5DAD;}
.open-source{ background: #66bb6a;}

.grid{
  margin: auto;
}

.tl-title{
  color: rgba(255, 255, 255, 0.901961);
  text-align:center;
 }
