// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#healthcare{ background: #eeeeee;}
#healthcare .tl-title{ color: black;}
#nasa{ background: #1A5DAD;}
#open-source{ background: #66bb6a;}

#healthcare, #nasa, #open-source{
  margin-top: 0;
  margin-bottom: 0;
}

.grid{
  text-align: center;
  column-count: 2;
  column-gap: 0;
}

/* Use one column for less than 480 px */
@media only screen
and (max-device-width: 480px){
  .grid{
    column-count: 1;
  }

}

.tl-title{
  color: rgba(255, 255, 255, 0.901961);
  text-align:center;
 }

.grids, .tl-title{
  animation: fadein 2s;
}

.grid blockquote{
  visibility: hidden;
}
.grid > span > .twitter-tweet{
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

#preloader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
